body {
	position: relative;
	background: url("wave.svg");
	background-color: #fafafa;
	background-attachment: fixed;
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: contain;
	min-height: 80vh;
}
table {
	border-radius: 5px;
}
td {
	background: #fff;
}
.btn-primary {
	background: #ff5757;
	border-color: #cb3737;
	color: #fff;
	width: 100%;
}
.btn-primary:hover {
	background: #cb3737;
	color: #fff;
}
.form-control:focus {
	border-color: rgba(203, 55, 55, 0.5);
	-webkit-box-shadow: 0 0 0 0.2rem rgba(203, 55, 55, 0.25);
	box-shadow: 0 0 0 0.2rem rgba(203, 55, 55, 0.25);
}
.error {
	color: #cb3737;
}
.success {
	color: #009b4d;
}
.gram {
	font-weight: bold;
	font-style: italic;
}
#countdown,
#score {
	font-family: monospace;
}
#heading {
	background: #cb3737;
	font-size: calc(3vw + 3vh);
}
#randomWord {
	font-size: 3.5em;
}
#countdown,
#score,
#words {
	font-size: 1.5em;
}
#messages {
	display: none;
	font-size: 1.5em;
}
#endGame,
#newWord,
#checkWord,
#startGame {
	float: right;
	-webkit-transition: 300ms ease-in-out;
	transition: 300ms ease-in-out;
}
#checkWord {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
#startGame {
	float: left;
}
#endGame {
	float: left;
	display: none;
}
#resetBestScore {
	cursor: pointer;
}
#resetBestScore:hover {
	font-weight: bold;
}
#rules {
	text-align: justify;
}
#loader {
	width: 3rem;
	height: 3rem;
}
#footer {
	background: #cb3737;
	position: absolute;
	bottom: -20vh;
	min-height: 5vh;
}
#footer a {
	color: #fff;
}
::-webkit-scrollbar {
	display: none;
}
@media (max-width: 768px) {
	#randomWord {
		font-size: 3em;
	}
	#countdown,
	#score {
		font-size: 1.5em;
	}
	#rules {
		text-align: left;
	}
}
